<div class="shimmer">
  <div class="shimmer__header">
    <div class="shimmer__title"></div>
    <div class="shimmer__subtitle"></div>
  </div>
  <div class="shimmer__table">
    <div class="shimmer__header-row">
      <div class="shimmer__header-cell"></div>
      <div class="shimmer__header-cell"></div>
      <div class="shimmer__header-cell"></div>
      <div class="shimmer__header-cell"></div>
      <div class="shimmer__header-cell"></div>
    </div>
    <div class="shimmer__row" *ngFor="let row of [1, 2, 3, 4]">
      <div class="shimmer__cell"></div>
      <div class="shimmer__cell"></div>
      <div class="shimmer__cell"></div>
      <div class="shimmer__cell"></div>
      <div class="shimmer__cell"></div>
    </div>
  </div>
</div>
