.list {
  &__container {
    margin: 0 auto;
    padding: 16px;
    max-width: 1200px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    margin-top: 32px;

    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    margin-top: 16px;

    @media (min-width: 600px) {
      margin-top: 0;
      margin-left: 16px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #555;
  }

  &__arrows {
    margin-top: 12px;

    mat-icon {
      font-size: 16px;
    }
  }

  &__status-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;

    &--active {
      background-color: green;
    }

    &--inactive {
      background-color: red;
    }
  }

  .mat-column-status,
  .mat-column-action {
    text-align: center;
  }

  .mat-column-status .mat-header-cell,
  .mat-column-action .mat-header-cell {
    justify-content: center;
  }

  &__table-container {
    overflow-x: auto;
  }
}
